Contract Page

<p>id: <%=@contract.id  %></p>
<p>status: <%=@contract.status  %></p>
<p>maker_id: <%=@contract.maker_id  %></p>
<p>taker_id: <%=@contract.taker_id  %></p>
<p>maker_agreement: <%=@contract.maker_agreement  %></p>
<p>taker_agreement: <%=@contract.taker_agreement  %></p>






