<a class="get-forecast" href="/forecasts/new">get weather</a>
<div class='userprofile'>
	<h1>Hello <%= @user.username%> </h1>
	<h2>You signed up with email: <%= @user.email%> </h2>
	<h2>Phone number: <%= @user.phone_number%> </h2>
	

		<a href="/users/<%=@user.id %>/forecasts"><button class="button5">Get forecast history</button></a>
	<br><br>
	<a href="/users/<%=@user.id %>/edit"><button class="button5">Edit profile</button></a>
	<br>
	<br>

  <form method = "post" action = "/users/<%=@user.id %>">
    <input type= "hidden" name = "_method" value="delete">
    <button class="button5 type = "submit"> Delete user </button>
  </form>

</div>





