<%if @forecast%>

<h2><a href="/forecasts/new"><mark id='location'><%=@location%></mark></a></h2>

<%=erb :'_menu'%>


<div id='history-container'>
  <div class="history">
    <div id='history-text'
    <h2><%=@location%></h2>
    <h3> on <%=@date%></h3>
  </div>

  <div class='icon'>

    <p> Max Temperature: <%=@history['history']['dailysummary'][0]['maxtempm']%> ℃</p>
    <%=@history['history']['dailysummary'][0]['maxtempi']%> F 
    <p> Min Temperature: <%=@history['history']['dailysummary'][0]['mintempm']%> ℃</p>
    <%=@history['history']['dailysummary'][0]['mintempi']%> F
    <p>Max Wind Speed: <%=@history['history']['dailysummary'][0]['maxwspdm']%> km/h</p>
    <%=@history['history']['dailysummary'][0]['maxwspdi']%> mph
    <p>Min Wind Speed: <%=@history['history']['dailysummary'][0]['minwspdm']%> km/h</p>
    <%=@history['history']['dailysummary'][0]['minwspdi']%> mph
    <p>Max Humidity: <%=@history['history']['dailysummary'][0]['maxhumidity']%> %</p>
    <p>Min Humidity: <%=@history['history']['dailysummary'][0]['minhumidity']%> %</p>
  </div>
</div>

<div class='history'>
  <div class='icon'>
    <p>Fog: <%=@history['history']['dailysummary'][0]['fog']%></p>
    <p>Rain: <%=@history['history']['dailysummary'][0]['rain']%></p>
    <p>Snow: <%=@history['history']['dailysummary'][0]['snow']%></p>


    <div class='history'>
      <div class='icon'>
        <p>Hail: <%=@history['history']['dailysummary'][0]['hail']%></p>
        <p>Thunder: <%=@history['history']['dailysummary'][0]['thunder']%></p>
        <p>Tornado: <%=@history['history']['dailysummary'][0]['tornado']%></p>
      </div>
    </div>
  </div>
</div>
</div>

<%end%>












