<%if @forecast%>

<a class="changelocation" href="/forecasts/new">change location</a>

<h2><mark id='location'><%=@location%></mark></h2>

<div id='forecast-container'>


  <%(0..34).each do |number|%>
  
  <div class="forecast">
    <h3><%=@weather_hourly['hourly_forecast'][number]['FCTTIME']['weekday_name']%> <%=@weather_hourly['hourly_forecast'][number]['FCTTIME']['mon']%>.<%=@weather_hourly['hourly_forecast'][number]['FCTTIME']['mday']%>.<%=@weather_hourly['hourly_forecast'][number]['FCTTIME']['year']%></h3>
    <div class='icon'>
      <h3><%=@weather_hourly['hourly_forecast'][number]['FCTTIME']['civil']%></h3>
      <img src=<%=@weather_hourly['hourly_forecast'][number]['icon_url']%>>
      <p><%=@weather_hourly['hourly_forecast'][number]['condition']%></p>
      <p> Temperature: <%=@weather_hourly['hourly_forecast'][number]['temp']['metric']%> ℃</p>
      <%=@weather_hourly['hourly_forecast'][number]['temp']['english']%> F 
      <p> Wind: <%=@weather_hourly['hourly_forecast'][number]['wspd']['metric']%> km/h</p>
      <%=@weather_hourly['hourly_forecast'][number]['wspd']['english']%> mph
      <p> Humidity: <%=@weather_hourly['hourly_forecast'][number]['humidity']%>%</p>
    </div>
  </div>
  <%end%>
</div>


<div class="menu">
  <a href="/forecasts/<%=@forecast.id%>"><h3><mark id='tendaylink'>5 Day Weather</mark></h3></a>

  <a href="/forecasts/<%=@forecast.id%>/10day"><h3><mark id='tendaylink'>10 Day Weather</mark></h3></a>

  <a href="/forecasts/<%=@forecast.id%>/hourly10day/<%=@location%>"><h3><mark id='tendaylink'>Hourly 10 day Forecast</mark></h3></a>
</div>
<%end%>
