<%if @forecast%>

<h2 id='location'><%=@city%>, <%=@country%></h2>

<div id='forecast-container'>
  <div class="forecast">
    <h3>Current Weather</h3>
    <div class='icon'>
      <img src=<%=@icon%>>
      <p><%=@weather%></p>
      <p> Temperature: <%=@temp%> ℃</p>
      <%=@temp_f%> F 
      <p> Wind: <%=@wind%> km/h</p>
      <%=@wind_miles%> mph
      <p> Humidity: <%=@humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast0%> <%=@forecast0_month%>.<%=@forecast0_day%>.<%=@forecast0_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast0_icon%>>
      <p><%=@forecast0_conditions%></p>
      <p> Temperature: <%=@forecast0_temp_celsius%> ℃</p>
      <%=@forecast0_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast0_wind_kph%> km/h</p>
      <%=@forecast0_wind_mph%> mph
      <p> Humidity: <%=@forecast0_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast1%> <%=@forecast1_month%>.<%=@forecast1_day%>.<%=@forecast1_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast1_icon%>>
      <p><%=@forecast1_conditions%></p>
      <p> Temperature: <%=@forecast1_temp_celsius%> ℃</p>
      <%=@forecast1_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast1_wind_kph%> km/h</p>
      <%=@forecast1_wind_mph%> mph
      <p> Humidity: <%=@forecast1_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast2%> <%=@forecast2_month%>.<%=@forecast2_day%>.<%=@forecast2_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast2_icon%>>
      <p><%=@forecast2_conditions%></p>
      <p> Temperature: <%=@forecast2_temp_celsius%> ℃</p>
      <%=@forecast2_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast2_wind_kph%> km/h</p>
      <%=@forecast2_wind_mph%> mph
      <p> Humidity: <%=@forecast2_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast3%> <%=@forecast3_month%>.<%=@forecast3_day%>.<%=@forecast3_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast3_icon%>>
      <p><%=@forecast3_conditions%></p>
      <p> Temperature: <%=@forecast3_temp_celsius%> ℃</p>
      <%=@forecast3_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast3_wind_kph%> km/h</p>
      <%=@forecast3_wind_mph%> mph
      <p> Humidity: <%=@forecast3_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast4%> <%=@forecast4_month%>.<%=@forecast4_day%>.<%=@forecast4_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast4_icon%>>
      <p><%=@forecast4_conditions%></p>
      <p> Temperature: <%=@forecast4_temp_celsius%> ℃</p>
      <%=@forecast4_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast4_wind_kph%> km/h</p>
      <%=@forecast4_wind_mph%> mph
      <p> Humidity: <%=@forecast4_humidity%></p>
    </div>
  </div>
</div>


<%end%>



