<%if @forecast%>

<h2><mark id='location'><%=@city%>, <%=@country%></mark></h2>

<div id='forecast-container'>

  <div class="forecast">
    <h3>Current Weather</h3>
    <div class='icon'>
      <img src=<%=@weather_json['current_observation']['icon_url']%>>
      <p><%=@weather_json['current_observation']['weather']%></p>
      <p> Temperature: <%=@weather_json['current_observation']['temp_c']%> ℃</p>
      <%=@weather_json['current_observation']['temp_f']%> F 
      <p> Wind: <%=@weather_json['current_observation']['wind_kph']%> km/h</p>
      <%=@weather_json['current_observation']['wind_mph']%> mph
      <p> Humidity: <%=@weather_json['current_observation']['relative_humidity']%></p>
    </div>
  </div>


  <%(0..9).each do |number|%>
  
  <div class="forecast">
    <h3><%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['weekday']%> <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['month']%>.<%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['day']%>.<%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['year']%></h3>
    <div class='icon'>
      <img src=<%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['icon_url']%>>
      <p><%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['conditions']%></p>
      <p> Temperature: <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['high']['celsius']%> ℃</p>
      <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['high']['fahrenheit']%> F 
      <p> Wind: <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['avewind']['kph']%> km/h</p>
      <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['avewind']['mph']%> mph
      <p> Humidity: <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['avehumidity']%></p>
    </div>
  </div>
  <%end%>
</div>

<a href="/forecasts/<%=@forecast.id%>"><h3><mark id='tendaylink'>5-Day Weather Forecast</mark></h3></a>

<%end%>











<!-- <div id='forecast-container'>
  <div class="forecast">
    <h3>Current Weather</h3>
    <div class='icon'>
      <img src=<%=@icon%>>
      <p><%=@weather%></p>
      <p> Temperature: <%=@temp%> ℃</p>
      <%=@temp_f%> F 
      <p> Wind: <%=@wind%> km/h</p>
      <%=@wind_miles%> mph
      <p> Humidity: <%=@humidity%></p>
    </div>
  </div> 


  <div class="forecast">
    <h3><%=@forecast0%> <%=@forecast0_month%>.<%=@forecast0_day%>.<%=@forecast0_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast0_icon%>>
      <p><%=@forecast0_conditions%></p>
      <p> Temperature: <%=@forecast0_temp_celsius%> ℃</p>
      <%=@forecast0_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast0_wind_kph%> km/h</p>
      <%=@forecast0_wind_mph%> mph
      <p> Humidity: <%=@forecast0_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast1%> <%=@forecast1_month%>.<%=@forecast1_day%>.<%=@forecast1_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast1_icon%>>
      <p><%=@forecast1_conditions%></p>
      <p> Temperature: <%=@forecast1_temp_celsius%> ℃</p>
      <%=@forecast1_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast1_wind_kph%> km/h</p>
      <%=@forecast1_wind_mph%> mph
      <p> Humidity: <%=@forecast1_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast2%> <%=@forecast2_month%>.<%=@forecast2_day%>.<%=@forecast2_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast2_icon%>>
      <p><%=@forecast2_conditions%></p>
      <p> Temperature: <%=@forecast2_temp_celsius%> ℃</p>
      <%=@forecast2_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast2_wind_kph%> km/h</p>
      <%=@forecast2_wind_mph%> mph
      <p> Humidity: <%=@forecast2_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast3%> <%=@forecast3_month%>.<%=@forecast3_day%>.<%=@forecast3_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast3_icon%>>
      <p><%=@forecast3_conditions%></p>
      <p> Temperature: <%=@forecast3_temp_celsius%> ℃</p>
      <%=@forecast3_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast3_wind_kph%> km/h</p>
      <%=@forecast3_wind_mph%> mph
      <p> Humidity: <%=@forecast3_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast4%> <%=@forecast4_month%>.<%=@forecast4_day%>.<%=@forecast4_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast4_icon%>>
      <p><%=@forecast4_conditions%></p>
      <p> Temperature: <%=@forecast4_temp_celsius%> ℃</p>
      <%=@forecast4_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast4_wind_kph%> km/h</p>
      <%=@forecast4_wind_mph%> mph
      <p> Humidity: <%=@forecast4_humidity%></p>
    </div>
  </div>


  <div class="forecast">
    <h3><%=@forecast5%> <%=@forecast5_month%>.<%=@forecast5_day%>.<%=@forecast5_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast5_icon%>>
      <p><%=@forecast5_conditions%></p>
      <p> Temperature: <%=@forecast5_temp_celsius%> ℃</p>
      <%=@forecast5_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast5_wind_kph%> km/h</p>
      <%=@forecast5_wind_mph%> mph
      <p> Humidity: <%=@forecast5_humidity%></p>
    </div>
  </div>


    <div class="forecast">
    <h3><%=@forecast6%> <%=@forecast6_month%>.<%=@forecast6_day%>.<%=@forecast6_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast6_icon%>>
      <p><%=@forecast6_conditions%></p>
      <p> Temperature: <%=@forecast6_temp_celsius%> ℃</p>
      <%=@forecast6_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast6_wind_kph%> km/h</p>
      <%=@forecast6_wind_mph%> mph
      <p> Humidity: <%=@forecast6_humidity%></p>
    </div>
  </div>


    <div class="forecast">
    <h3><%=@forecast7%> <%=@forecast7_month%>.<%=@forecast7_day%>.<%=@forecast7_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast7_icon%>>
      <p><%=@forecast7_conditions%></p>
      <p> Temperature: <%=@forecast7_temp_celsius%> ℃</p>
      <%=@forecast7_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast7_wind_kph%> km/h</p>
      <%=@forecast7_wind_mph%> mph
      <p> Humidity: <%=@forecast7_humidity%></p>
    </div>
  </div>


    <div class="forecast">
    <h3><%=@forecast8%> <%=@forecast8_month%>.<%=@forecast8_day%>.<%=@forecast8_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast8_icon%>>
      <p><%=@forecast8_conditions%></p>
      <p> Temperature: <%=@forecast8_temp_celsius%> ℃</p>
      <%=@forecast8_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast8_wind_kph%> km/h</p>
      <%=@forecast8_wind_mph%> mph
      <p> Humidity: <%=@forecast8_humidity%></p>
    </div>
  </div>


    <div class="forecast">
    <h3><%=@forecast9%> <%=@forecast9_month%>.<%=@forecast9_day%>.<%=@forecast9_year%></h3>
    <div class='icon'>
      <img src=<%=@forecast9_icon%>>
      <p><%=@forecast9_conditions%></p>
      <p> Temperature: <%=@forecast9_temp_celsius%> ℃</p>
      <%=@forecast9_temp_fahrenheit%> F 
      <p> Wind: <%=@forecast9_wind_kph%> km/h</p>
      <%=@forecast9_wind_mph%> mph
      <p> Humidity: <%=@forecast9_humidity%></p>
    </div>
  </div> -->
















