<%if @forecast%>

<a class="changelocation" href="/forecasts/new">change location</a>

<h2><mark id='location'><%=@weather_json['current_observation']['display_location']['full']%></mark></h2>

<div id='forecast-container'>
  <div class="forecast">
    <h3>Current Weather</h3>
    <div class='icon'>
      <img src=<%=@weather_json['current_observation']['icon_url']%>>
      <p><%=@weather_json['current_observation']['weather']%></p>
      <p> Temperature: <%=@weather_json['current_observation']['temp_c']%> ℃</p>
      <%=@weather_json['current_observation']['temp_f']%> F 
      <p> Wind: <%=@weather_json['current_observation']['wind_kph']%> km/h</p>
      <%=@weather_json['current_observation']['wind_mph']%> mph
      <p> Humidity: <%=@weather_json['current_observation']['relative_humidity']%></p>
    </div>
  </div>


  <%(0..4).each do |number|%>
  
  <div class="forecast">
    <h3><%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['weekday']%> <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['month']%>.<%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['day']%>.<%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['date']['year']%></h3>
    <div class='icon'>
      <img src=<%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['icon_url']%>>
      <p><%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['conditions']%></p>
      <p> Temperature: <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['high']['celsius']%> ℃</p>
      <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['high']['fahrenheit']%> F 
      <p> Wind: <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['avewind']['kph']%> km/h</p>
      <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['avewind']['mph']%> mph
      <p> Humidity: <%=@weather10day_jason['forecast']['simpleforecast']['forecastday'][number]['avehumidity']%></p>
    </div>
  </div>
  <%end%>
</div>


  <div class="menu">
    <a href="/forecasts/<%=@forecast.id%>/10day"><h3><mark id='tendaylink'>10 Day Forecast</mark></h3></a>

    <a href="/forecasts/<%=@forecast.id%>/hourly/<%=@weather_json['current_observation']['display_location']['full']%>"><h3><mark id='tendaylink'>Hourly Forecast</mark></h3></a>

    <a href="/forecasts/<%=@forecast.id%>/hourly10day/<%=@weather_json['current_observation']['display_location']['full']%>"><h3><mark id='tendaylink'>Hourly 10 day Forecast</mark></h3></a>
  </div>

<%end%>






  






