<div class="menu">
  <a href="/forecasts/<%=@forecast.id%>"><h3 id='tendaylink'>5 Day Forecast</h3></a>||

  <a class="active" href="/forecasts/<%=@forecast.id%>/10day"><h3 id='tendaylink'>10 Day Forecast</h3></a>||

  <a href="/forecasts/<%=@forecast.id%>/hourly/<%=@location%>"><h3 id='tendaylink'>Hourly Forecast</h3></a>||

  <a href="/forecasts/<%=@forecast.id%>/hourly10day/<%=@location%>"><h3 id='tendaylink'>Hourly 10 day Forecast</h3></a> ||


  <a href="/forecasts/<%=@forecast.id%>/history/<%=@location%>"><h3 id='tendaylink'>History</h3></a>  
</div>