<a class="get-forecast" href="/forecasts/new">get weather</a>

<%if @forecast%>
<h2>Weather for <%=@forecast.city%>, <%=@forecast.country%></h2>
<p>It is: <%=@weather%></p>
<p> Temperature: <%=@temp%> ℃</p>
<p> Wind: <%=@temp%> km/h</p>
<%end%>

