<h1>Index page of the site</h1>


<a href="/forecasts/new">get forecast</a>

<%if @forecast%>
<h2>Weather for <%=@forecast.city%>, <%=@forecast.country%></h2>
<p>It is: <%=@weather%></p>
<p> Temperature: <%=@temp%> ℃</p>
<p> Wind: <%=@temp%> km/h</p>
<%end%>

