<a class="get-forecast" href="/forecasts/new">get weather</a>

<%if @forecast%>
<div class="forecast">
<h2>Weather for <%=@forecast.city.capitalize%>, <%=@forecast.country.capitalize%></h2>

<img src=<%=@icon%>>
<p><%=@weather%></p>
<p> Temperature: <%=@temp%> ℃</p>
<p> Wind: <%=@temp%> km/h</p>
<p> Humidity: <%=@humidity%></p>
<p> Forecast: <%=@futureweather%></p>
<!-- <img src=<%=@local_weather%>> -->
</div>

<%end%>

