<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="content">
  <header>
  <!--   <a href="/"><img src="/img/zenchinese.png" class="logo"></a> -->
  <a href="/"><h1 class="logo"><mark>we</mark>ather</h1></a>

<div class='right-menu'>
  <%if !session[:id]%>
  <a href="/sessions/new">Login</a> |
  <a href="/users/new">Register</a>
  <%else%>

<a href="/users/<%=current_user.id%>">Hello <%=current_user.username%></a> |
  <form method = "post" action = "/sessions/<%=session[:id]%>">
    <input type= "hidden" name = "_method" value="delete">
    <button type = "submit"> Log out </button>
  </form>
<!--  <a href="/sessions/<%=session[:id]%>">logout</a> -->
  <%end%>
</div>

  </header>
  <%= yield %>
</div>
</body>


<div id='date'>
</div>
<div id='clock'>
</div>

</html>
